.app-btn-subtitle {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out !important;
}
.app-btn-subtitle:hover, a:hover .app-btn-subtitle, span:hover .app-btn-subtitle {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 100;
    -khtml-opacity: 100;
    opacity: 100;
}
.margin-left-5 {
    margin-left: 5px !important;
}
.margin-left-10 {
    margin-left: 10px !important;
}
.margin-left-15 {
    margin-left: 15px !important;
}
.margin-left-30 {
    margin-left: 20px !important;
}
.error {
    border-color: #B94A48 !important;
}
.add-tag .add-tag-button {
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out !important;
}
.add-tag .add-tag-input {
    display: none;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out !important;
}
.add-tag.adding .add-tag-button {
    display: none;
}
.add-tag.adding .add-tag-input {
    display: inline-block;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 100;
    -khtml-opacity: 100;
    opacity: 100;
}
.list-group-item-content {
    display: inline-block;
    width: 100%;
}
.date-input-container-large > input {
    width: 100%;
    height: 35px;
}
.display-info-icon::before {
    content: "\f05a";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 5px;
}
th.sortable:hover, th.sort_asc:hover, th.sort_desc:hover {
    cursor: pointer;
}
th.sortable::after, th.sort_asc::after, th.sort_desc::after {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 5px;
    float: right;
}
th.sortable::after {
    content: "\F0DC";
}
th.sort_asc::after {
    content: "\F0DE";
}
th.sort_desc::after {
    content: "\F0DD";
}
input[type=checkbox] {
    text-align: center;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 5px;
    font-size: 2em;
    margin: auto 0;
    border: none;
    /* Mobile Safari */
    
    -webkit-appearance: none;
    /*-moz-appearance: none;*/
    
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
input[type=checkbox]:after {
    content: '\f0c8';
    text-shadow: 0 -1px 0 #bfbfbf;
}
input[type=checkbox]:checked:after {
    content: '\f14a';
    text-shadow: 0 1px 0 #669991;
    bottom: 1px;
    position: relative;
}
.info-button {
    background-color: #65BCDA;
    border-radius: 100% 100% 100% 100%;
    color: #FFFFFF;
    cursor: default;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    padding: 0;
    text-align: center;
    width: 20px;
    line-height: 20px;
    top: 7px;
    left: 7px;
}
.info-button.info:before {
    content: "\f128";
    display: inline;
    font-family: FontAwesome;
    font-weight: 300;
    height: auto;
    text-shadow: none;
    font-style: normal;
}
.info-button.error:before {
    content: "\f00d";
    display: inline;
    font-family: FontAwesome;
    font-weight: 300;
    height: auto;
    text-shadow: none;
    font-style: normal;
}
.close-subviews.force-display {
    display: inline !important;
    opacity: 1 !important;
    left: 0px;
}
