<h4 class="space20">Mesajınız gönderilmek üzere kaydedildi <i class="fa fa-check text-green"> </i> 
</h4> 

{{#link-to "sms.index" class="btn btn-red"}}
	Yeni bir mesaj gönderin <i class="fa fa-arrow-circle-right"></i>
{{/link-to}}

