<div class="form-group">
	<label class="col-sm-2 control-label">
        Başlık seç
    </label>
    <div class="col-sm-9">
    	{{select-2 collection=originators value=model.selectedOriginator multiple=false placeholder="Başlık seçiniz" optionLabelPath="title"}}
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">
        Mesaj
    </label>
    <div class="col-sm-9">{{textarea classNameBindings=":form-control" value=model.message rows="5"}}
    <div class="clearfix"></div>
    Karakter sayısı: {{model.message.length}}</div>
</div>
