<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">
            Mesaj Gönderim Tarihi
        </label>
        <div class="col-sm-9 date-input-container-large">
        {{date-picker value=model.sendDate format="LL" yearRange=3}}
        <span class="help-block"><i class="fa fa-info-circle"></i> Seçilmediği halde mesaj şimdi gönderilecek şekilde ayarlanır</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">
        Mesaj Gönderim Hızı
        </label>
        <div class="col-sm-9">
        	{{input type=number value=model.sendMessagesPerMin class="form-control"}} mesaj/dakika
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">
        Mesaj geçerlilik süresi
        </label>
        <div class="col-sm-9">
        {{select-2 collection=model.validityList value=model.timeValidity multiple=false}}
        </div>
    </div>
</form>
